# Node / Next
node_modules/
.next/
out/
build/
dist/
*.log

# Python
venv/
__pycache__/
*.pyc
*.pyo

# Mídia pesada e binários
*.mp4
*.mov
*.mkv
*.wav
*.mp3
*.dll
*.lib

# Gerados / locais
assets/bg/**
assets/music/**
